.wolverine {
	background: url('../images/catsheet.png') no-repeat 73.362% 5.812%;
	width: 113px;
	height: 101px;
}

.spidey {
	background: url('../images/catsheet.png') no-repeat 29.883% 32.983%;
	width: 114px;
	height: 124px;
}

.waldo {
	background: url('../images/catsheet.png') no-repeat -24px -343px;
	width: 130px;
	height: 118px;
}

.mario {
	background: url('../images/catsheet.png') no-repeat 75.412% 72.349%;
	width: 133px;
	height: 119px;
}

.scarlet {
	background: url('../images/catsheet.png') no-repeat 52.836% 37.037%;
	width: 130px;
	height: 114px;
}

.rainbowdash {
	background: url('../images/catsheet.png') no-repeat 2.695% 36.975%;
	width: 132px;
	height: 124px;
}

.trooper {
	background: url('../images/catsheet.png') no-repeat 30.101% 6.337%;
	width: 109px;
	height: 95px;
}

.megaman {
	background: url('../images/catsheet.png') no-repeat 30.511% 70.635%;
	width: 115px;
	height: 96px;
}

.link {
	background: url('../images/catsheet.png') no-repeat 52.601% 5.634%;
	width: 108px;
	height: 103px;
}

.ironman {
	background: url('../images/catsheet.png') no-repeat 3.163% 4.481%;
	width: 136px;
	height: 109px;		
}
		
.ninja {
	background: url('../images/catsheet.png') no-repeat 74.394% 36.82%;
	width: 140px;
	height: 122px;
}

.octocat {
	background: url('../images/catsheet.png') no-repeat -630px -28px;
	width: 122px;
	height: 107px;
}
